.filter-section {
  
    height: 50%;
    width:350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.product-listing-container{
height: 900px;
 display: flex;
}
.product-listing{
    height: 200px;
}

.radio-label{
    display: inline !important ;
}